{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event Radar - Password Reset">
    <title>Event Radar - Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="reset-body">
    <div class="barofcolour">
        <p></p><p></p><p></p>
    </div>

    <div class="logo-container">
        <img id="logo" src="/static/media/eventradar_logo2.png" alt="Event Radar Logo">
    </div>

    <div class="reset-title">
        <h3>Application sent!</h3>
    </div>

    <div class="center-box">
        <p>Your application is sent! Head back to the homepage.</p>
        <p><a href="{% url 'homepage' %}">Go back to the homepage!</a></p>
    </div>
</body>
</html>
