{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event Radar - Event Manager Application">
    <title>Event Radar - Event Manager Application</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="reset-body">

    <div class="barofcolour">
        <p></p><p></p><p></p>
    </div>

    <div class="logo-container">
        <img id="logo" src="{% static 'media/eventradar_logo2.png' %}" alt="Event Radar Logo">
    </div>

    <div class="reset-title">
        <h3>Password Reset</h3>
    </div>

    <div class="center-box">
        <p>Enter your reasoning for becoming an event manager below.</p>

        <form method="post">
            {% csrf_token %}

            <!-- Email Input -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Send Email">
            </div>

            {% if error %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

            <p>
                <a href="javascript:history.back()" class="create-link">Go back to the previous page</a>
            </p>
        </form>
    </div>

</body>
</html>
