<!-- Written by Jonny & Expanded by Carolyn-->
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event Radar - Password Reset">
    <title>Event Radar - Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<div class="barofcolour">
       <p></p>
     <p></p>
     <p></p>
<body class="reset-body">
    <div class="logo-container">
    <img id="logo" src="/static/media/eventradar_logo2.png" alt="Event Radar Logo">
    </div>

    <div class="reset-title">
        <h3> Create an Account!</h3>
    </div>

    <div class="center-box">
        <form method="post" action="{% url 'create_account' %}">
            {% csrf_token %}
            
            {% if form.errors %}
            <div class="error-message">
                <p>Please correct the following errors:</p>
                {{ form.errors }}
            </div>
            {% endif %}
            
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <div class="error-message">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <div class="error-message">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-message">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="error-message">{{ form.password.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="{{ form.phone_number.id_for_label }}">Phone Number (Optional)</label>
                {{ form.phone_number }}
                {% if form.phone_number.errors %}
                    <div class="error-message">{{ form.phone_number.errors }}</div>
                {% endif %}
            </div>
            
            <div class="button-link-container">
                <button type="submit" class="btn btn-primary create-account-btn">
                    <i class="fas fa-user-plus"></i> Create Account
                </button>
                <a href="{% url 'login' %}" class="create-link">Go back to login page</a>
            </div>
        </form>
        
    </div>
</body>
</div>
</html>
