<!--Written by Jonny-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Event Radar - Create Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Event Radar</h1>
        <div class="container">
            <form method="post">
                <label for ="first_name">First Name:</label>
                <input type="text" id="first_name" name = "first_name">
                <br>

                <label for ="last_name">Last Name:</label>
                <input type="text" id="last_name" name = "last_name">
                <br>

                <label for ="email">Email:</label>
                <input type="text" id="email" name = "email">
                <br>

                <label for ="confirm email">Confirm Email:</label>
                <input type="text" id="confirm email" name = "confirm email">

                <br>

                <label for ="password">Password:</label>
                <input type="text" id="password" name = "password">

                <br>

                <label for ="confirm password">Confirm Password:</label>
                <input type="text" id="confirm password" name = "confirm password">

                <br>
                <label for ="first_name">First Name:</label>
                <input type="text" id="first_name" name = "first_name">

                <br>
                <button type="Create Account">Create Account</button>
            </form>
        </div>
    </body>
</html>