<!DOCTYPE html>
<html lang="en">
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Event Radar - Event Planning</title>
  <meta id="user_role" data-role="{{ user_role|default:'User' }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/overlay.css' %}">

</head>
<body>
    <div id="planner-top-header">
  <div class="logo-container">
    <img id="logo" src="{% static 'media/eventradar_logo2.png' %}" alt="Event Radar Logo">
  </div>
<!--form-->
    <div class="center-box">
        <form method="post">
            {% csrf_token %}

            <!-- Name Input -->
            <div class="form-group">
                <label for="create_name">Title:</label>
                <input type="text" id="create_name" name="create_name" required>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Create a new Plan">
            </div>

            {% if error %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
        </form>
    </div>

    <!--loading of plans-->
<div class="page-wrapper">
<div class="plan">
    <div class="plan__title-bar">
        <span class="plan__title">Expandable section #1</span>
        <ion-icon class="plan__icon" name="chevron-back-outline"></ion-icon>
    </div>
    <div class="plan__content-wrapper">
        <div class="plan__content">
            <div class="scrollplan">
                <div class="event-container">
                    <div class="event-title">Event Title 1</div>
                    <div class="event-body">EVENT DETAIL EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL</div>
                </div>

                <div class="event-container">
                    <div class="event-title">Event Title 1</div>
                    <div class="event-body">EVENT DETAIL EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL</div>
                </div>

                <div class="event-container">
                    <div class="event-title">Event Title 1</div>
                    <div class="event-body">EVENT DETAIL EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL</div>
                </div>

                <div class="event-container">
                    <div class="event-title">Event Title 1</div>
                    <div class="event-body">EVENT DETAIL EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL</div>
                </div>

                <div class="event-container">
                    <div class="event-title">Event Title 1</div>
                    <div class="event-body">EVENT DETAIL EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL
                    EVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAILEVENT DETAIL</div>
                </div>

                <div class="scroll-spacer"></div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/expand.js' %}"></script>

</body>
</html>