<!--Written by Jonny-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Event Radar - Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <h1>Event Radar</h1>

        <form>
            <div class="top_bar">
                <input type="text" placeholder="Location">
                <input type="text" placeholder="Radius">
                <button><a href="{% url 'settings' %}">Settings</a></button>
            </div> 
        </form>
        



    </body>
</html>