<!-- Written by Jonny -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event Radar - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Event Radar</h1>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Login</button>
            {% if error %}
                <div class="error">
                    <p>{{ error }}</p>
                </div>
            {% endif %}

            <p>Don't have an account? <a href="{% url 'create_account' %}">Create one</a></p>
        </form>
    </div>
</body>
</html>
