{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Event Radar - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="login-page"> <!-- Added class for scoping -->
    <div class="login-container">
    <div class="logo-container">
    <img id="logo" src="/static/media/eventradar_logo2.png" alt="Event Radar Logo">

    </div>


        <form method="POST">
            {% csrf_token %}

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">

            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <br>

            <button type="submit">Login</button>

            <br>

             <!-- Display form errors if any -->
          {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}

            <p><b>New to Event Radar?</b>
               <a href="{% url 'create_account' %}" class="create-link">Create an account here</a>
            </p>
            <p><b>Forgot password?</b>
               <a href="{% url 'password_reset' %}" class="create-link">Reset here</a>
            </p>
        </form>
    </div>
</body>
</html>
